.aboutus-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 183px;
  margin-top: -55px;
  opacity: 0; /* 처음엔 보이지 않도록 설정 */
  animation: fadeIn 0.3s ease-in-out forwards; /* 애니메이션 시간을 1초로 변경 */
}

.aboutus-container img {
  max-width: 100%;
  height: auto;
  opacity: 0; /* 이미지가 먼저 보이지 않음 */
  animation: fadeIn 1s ease-in-out forwards 0.3s; /* 딜레이를 0.3초로 줄임 */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* 아래에서 위로 등장 */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* 제자리로 */
  }
}

/* 반응형 디자인 */
/* 화면 너비가 1200px 이하일 때 */
@media (max-width: 1200px) {
  .aboutus-container {
    padding-right: 100px;
    margin-top: -30px;
  }
}

/* 화면 너비가 900px 이하일 때 */
@media (max-width: 900px) {
  .aboutus-container {
    justify-content: center;
    padding-right: 0;
    margin-top: 0;
  }
}

/* 화면 너비가 600px 이하일 때 */
@media (max-width: 600px) {
  .aboutus-container {
    justify-content: center;
    padding-right: 0;
    margin-top: 10px;
  }

  .aboutus-container img {
    width: 90%;
    height: auto;
  }
}
