.find-pwd-page {
    max-width: 400px;
    height:60vh;
    margin: 100px auto;
    margin-bottom: 100px;
    padding: 60px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
  }

  .findpwd-image {
    width: 240px; /* 이미지 크기 조절 */
    height: auto;
    margin-bottom: 20px; /* 로그인 제목과 간격 */
  }

  .find-pwd-page h2 {
    margin-top: 5px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight:800;
  }

  
  .form-group-pwd {
    margin-bottom: 3px;
    width: 66%;
    margin-left: 70px;
    margin-top: 10px;
  }
  
  .findpwdname, .findpwdemail {
    text-align: left;
    font-size: 13px;
    font-weight:lighter;
    color:#a6a2a2;
    padding: 5px;
   }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .error-message-pwd {
    color: red;
    margin-bottom: -30px;
  }
  
  .success-message-pwd {
    color: green;
    margin-bottom: -40px;
  }
  
  .submit-button-pwd, .back-button-pwd {
    width: 65%;
    padding: 10px;
    background-color: #427fd4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 50px;
    margin-left:13px;
  }
  
  .back-button-pwd {
    background-color: #4CAF50;
    margin-top:11px;
  }

  .copyright-text-pwd {
    margin-top:40px;
    margin-bottom: 70px;
    font-size: 12px;
    font-weight: bolder;
    color: lightgray;
    text-align: center;
  }
  