.image-container {
  display: flex;
  justify-content: flex-end;
  padding: 0 183px;
  margin-top: -55px;
  opacity: 0; /* 애니메이션 전에는 이미지가 보이지 않음 */
  animation: fadeIn 1.5s ease-in-out forwards; /* fadeIn 애니메이션을 적용 */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* 아래에서 위로 등장 */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* 제자리로 */
  }
}

/* 반응형 디자인 */
/* 화면 너비가 1200px 이하일 때 */
@media (max-width: 1200px) {
  .image-container {
    padding: 0 100px;
    margin-top: -30px;
  }
}

/* 화면 너비가 900px 이하일 때 */
@media (max-width: 900px) {
  .image-container {
    justify-content: center;
    padding: 0 50px;
    margin-top: -20px;
  }
}

/* 화면 너비가 600px 이하일 때 */
@media (max-width: 600px) {
  .image-container {
    justify-content: center;
    padding: 0 20px;
    margin-top: 0;
  }
}
