.login-container {
    max-width: 500px;
    margin: 100px auto;
    margin-bottom: 10px;
    padding: 60px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
  }
  
  .login-image {
    width: 240px; /* 이미지 크기 조절 */
    height: auto;
    margin-bottom: 20px; /* 로그인 제목과 간격 */
  }
    
  .form-group {
    margin-bottom: 3px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 75%;
    padding: 13px;
    margin-bottom: 10px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 7px;
  }

  .username, .password {
    margin-left: -275px;
    font-size: 13px;
    font-weight:lighter;
    color:#a6a2a2;
    padding: 5px;
  }

  .error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .login-button {
    width: 66%;
    padding: 10px;
    margin-top: 35px;
    background-color: #427fd4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #345cb8;
  }
  
  .separator-container {
    display: flex;
    align-items: center;
    margin: 30px 0;
    margin-left: 88px;
  }
  
  .separator-line {
    width: 34%;
    height: 0.5px;
    background-color: #ccc;
  }
  
  .separator-text {
    margin: 0 10px;
    color: #666;
    font-size: 12px;
  }

  .social-login-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .kakao-login-button, .naver-login-button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 10px; /* 버튼 간격 */
  }
  
  .social-login-image1 {
    width: 65px; /* 이미지 너비 설정 */
    height: auto; /* 비율에 맞게 이미지 크기 조정 */
  }

  .social-login-image2 {
    width: 75px; /* 이미지 너비 설정 */
    height: auto; /* 비율에 맞게 이미지 크기 조정 */
  }
  
  .additional-links {
    margin-top: 20px;
    margin-right: 10px;
  }
  
  .link {
    color: #666;
    text-decoration: none;
    margin: 0 5px;
    font-size: 13px;
  }
  
  .link:hover {
    text-decoration: underline;
  }

  .separator {
    margin: 0 3px; /* separator 양쪽에 공백 추가 */
    color: lightgray;
  }
  
  .copyright-text {
    margin-top: 20px;
    margin-bottom: 70px;
    font-size: 12px;
    font-weight: bolder;
    color: lightgray;
    text-align: center;
  }
  